<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FincueAgent.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6062E04CC139B6EE49031E5646717017D743444C</string>
				<key>dateExpires</key>
				<string>19/05/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HMSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>6.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>4.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NotificationBannerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PRTween.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>3.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecordButtonSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVPinView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Spring.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6062E04CC139B6EE49031E5646717017D743444C</string>
						<key>dateExpires</key>
						<string>19/05/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y2UL2H24M7</string>
						<key>name</key>
						<string>Fincue Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30906.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y2UL2H24M7.com.fincue.customer</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y2UL2H24M7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FincueAgent.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>53653231-429a-445f-84f1-22b3dde3261f</string>
				<key>dateExpires</key>
				<string>19/05/22</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.fincue.customer</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y2UL2H24M7</string>
				<key>name</key>
				<string>Fincue Pty Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>1.07</string>
		</dict>
	</array>
</dict>
</plist>
